//@@include('inc/header.html')

<!-- Section: Main -->

<main class="l-main">
	<div class="l-main__inner">
		<div class="c-main">
			<div class="c-main__first">
				<div class="c-main__photo js-second">
					<img style="height: 0; width: 0;" src="../assets/img/1.jpg" alt="photo">
				</div>

				<!-- Social -->
				<div class="c-main__social">
					<a title="Telegram" href="https://teleg.one/Jackpot13" target="_blank" class="c-social c-social__item h-first">
						<i class="fab fa-telegram-plane"></i>
					</a>
					<a title="GitHub" href="https://github.com/braviaazat13" target="_blank" class="c-social c-social__item h-middle">
						<i class="fab fa-github"></i>
					</a>
					<a title="Email" href="mailto:279733@gmail.com" target="_blank" class="c-social c-social__item h-last">
						<i class="far fa-envelope"></i>
					</a>
				</div>
				<!-- End of Social -->

			</div>
		</div>
	</div>
</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')
