.c-main {
	position: absolute;
	cursor: pointer;
	
	&__photo {
		background-image: url("../img/1.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		width: 200px;
		height: 200px;
		border-radius: 100%;
		animation: bounce-in-top 1s 500ms both;
		transition: 2.5s;
		z-index: 20;
		
		&.js-first {
			animation: heartbeat 1.5s ease-in-out 1s infinite both;
			box-shadow: 0 0 36px 0 rgb(0, 0, 0);
		}
		
		&.js-second {
			animation: decrease 1s ease-out 300ms;
		}
		
		&.hidden {
			display: none;
		}
	}
}
