.c-main {
	position: absolute;
	cursor: pointer;
	
	&__photo {
		margin: 0 auto;
		background-image: url("../img/1.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		width: 200px;
		height: 200px;
		border-radius: 100%;
		transition: 2.5s;
		z-index: 20;
		position: relative;
		box-shadow: 0 0 36px 0 rgb(0, 0, 0);
		
		&.js-second {
			animation: heartbeat 1.5s ease-out 2s infinite both;
		}
		
		&.js-first {
			animation: heartbeat 1.5s ease-in-out infinite both;
		}
		
		&.js-third {
			animation: decrease 1s ease-out 300ms;
		}
		
		&.hidden {
			display: none;
		}
	}
	
	&__social {
		animation: move-bottom 1s ease 4.1s both;
		display: flex;
	}
}

.c-social {
	
	&__item {
		background-color: rgba(196, 196, 196, 0.5);
		width: 60px;
		height: 60px;
		border-radius: 30px;
		font-size: 40px;
		margin: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		transition: 0.5s;
		//animation: move-opacity 1s ease-out 3.9s both;
		
		&:hover {
			transform: scale(1.2);
			color: white;
		}
		
		&:active {
			transform: scale(0.5);
			transition: 0.7s;
		}
		
		&.h-first {
			animation: move-right 1s ease-out 4.2s both;
		}
		&.h-middle {
			z-index: 1;
			//animation: move-opacity 1s ease-out 3.9s both;
		}
		
		&.h-last {
			animation: move-left 1s ease-out 4.2s both;
		}
	}
}
