<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Preloader -->
		<style>
			#page-preloader {
				position: fixed;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: #000;
				z-index: 100500;
			}

			#page-preloader .spinner {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100vw;
				height: 100vh;
			}

			#page-preloader .spinner img {
				width: 300px;
			}
		</style>
		<div id="page-preloader">
			<span class="spinner">
				<img src="assets/img/2.gif" alt="spinner">
			</span>
		</div>
		<!-- End of Preloader -->

		<!-- Meta: Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- End of Meta: Basic -->

		<!-- Meta: Mobile -->
		<meta name="viewport"
					content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- End of Meta: Mobile -->

		<!-- Meta: Site -->
		<title>Khabirov – Frontend Developer</title>
		<meta name="keywords" content="сайт визитка, веб разработчик web developer, frontend, фронтенд">
		<meta name="description" content="Веб разработка. Контакты. || Web development. Contacts.">
		<!-- End of Meta: Site -->

		<!-- Meta: Basic Images -->
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/xfavico.png">
		<!-- End of Meta: Basic Images -->

		<!-- Styles -->
		<link rel="stylesheet" href="../assets/css/main.min.css?v=2.9.2">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
		<!-- End of Styles -->

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Meta: Mobile Bar Color -->
		<meta name="theme-color" content="#a110cb">
		<meta name="msapplication-navbutton-color" content="#a110cb">
		<meta name="apple-mobile-web-app-status-bar-style" content="#a110cb">
		<!-- End of Meta: Mobile Bar Color -->

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
				m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

			ym(54356890, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:true
			});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/54356890" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143494448-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-143494448-1');
		</script>


	</head>
	<body>
		<!-- Section: Header -->
		<header>

		</header>
		<!-- End of Section: Header -->
